.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 54px;
  width: 100%;
  background-color: #ffffff;
  padding: 0 16px;
  box-sizing: border-box;
}

.header-left {
  display: flex;
  align-items: center;
  min-width: 800px;
}
.header-right {
  display: flex;
  align-items: center;
}
.logo {
  width: 120px;
  height: 27px;
  background: url("../../assets/logo-unlogin.9b9c161b.png") no-repeat;
  background-size: 100%;
  margin-right: 16px;
}

.menu {
  height: 54px;
}

.menu span {
  line-height: 54px;
  padding: 0 20px;
  cursor: pointer;
  color: #4d4d4d;
  font-size: 14px;
}

.menu span:hover {
  color: #ff8a2b;
}
/* .menu span i{

} */
.img-unfold {
  width: 12px;
  height: 12px;
  vertical-align: middle;
  margin-left: 4px;
  transition: all 0.3s linear;
}
.menu span:hover .img-unfold {
  transform: rotate(180deg) translateY(2px);
  transition: all 0.3s linear 0.3s;
}

.header-right {
  height: 54px;
  border-left: #eeeeee 1px solid;
  display: flex;
  align-items: center;
  padding-left: 24px;
}
.left-img {
  display: flex;
  line-height: 54px;
  font-size: 14px;
  color: #4d4d4d;
  letter-spacing: 0.7px;
}
.left-img img {
  margin-right: 24px;
}

.left-img img:hover {
  color: #ff8a2b;
  cursor: pointer;
}

.left-img span {
  margin-right: 24px;
}

.left-img span:hover {
  color: #ff8a2b;
  cursor: pointer;
}

.right-img {
  display: flex;
  font-size: 14px;
  color: #4d4d4d;
  letter-spacing: 0;
  text-align: right;
  line-height: 22px;
  align-items: center;
}
.right-img img {
  width: 30px;
  height: 30px;
  margin-right: 4px;
}
.right-img span {
  margin-right: 7px;
}
.right-img .img-unfold {
  height: 12px;
  width: 12px;
}
.right-img:hover {
  cursor: pointer;
  color: #ff8a2b;
}
.right-img:hover .img-unfold {
  transform: rotate(180deg) translateY(2px);
  transition: all 0.3s linear 0.3s;
}
